<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aquamarine-devel/template</key>
	<dict>
		<key>mtime</key>
		<data>fWRzagAAAABVEyopAAAAAA==</data>
		<key>pkgname</key>
		<string>aquamarine</string>
		<key>revision</key>
		<string>2</string>
		<key>version</key>
		<string>0.13.0</string>
	</dict>
	<key>aquamarine/template</key>
	<dict>
		<key>mtime</key>
		<data>fWRzagAAAABVEyopAAAAAA==</data>
		<key>pkgname</key>
		<string>aquamarine</string>
		<key>revision</key>
		<string>2</string>
		<key>version</key>
		<string>0.13.0</string>
	</dict>
	<key>hyprcursor-devel/template</key>
	<dict>
		<key>mtime</key>
		<data>fWRzagAAAABVEyopAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprcursor</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.1.13</string>
	</dict>
	<key>hyprcursor/template</key>
	<dict>
		<key>mtime</key>
		<data>fWRzagAAAABVEyopAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprcursor</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.1.13</string>
	</dict>
	<key>hyprgraphics-devel/template</key>
	<dict>
		<key>mtime</key>
		<data>fWRzagAAAABVEyopAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprgraphics</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.5.1</string>
	</dict>
	<key>hyprgraphics/template</key>
	<dict>
		<key>mtime</key>
		<data>fWRzagAAAABVEyopAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprgraphics</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.5.1</string>
	</dict>
	<key>hyprland-protocols/template</key>
	<dict>
		<key>mtime</key>
		<data>fWRzagAAAABVEyopAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprland-protocols</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.7.0</string>
	</dict>
	<key>hyprlang-devel/template</key>
	<dict>
		<key>mtime</key>
		<data>fWRzagAAAABVEyopAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprlang</string>
		<key>revision</key>
		<string>2</string>
		<key>version</key>
		<string>0.6.8</string>
	</dict>
	<key>hyprlang/template</key>
	<dict>
		<key>mtime</key>
		<data>fWRzagAAAABVEyopAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprlang</string>
		<key>revision</key>
		<string>2</string>
		<key>version</key>
		<string>0.6.8</string>
	</dict>
	<key>hyprutils-devel/template</key>
	<dict>
		<key>mtime</key>
		<data>fWRzagAAAAAgKi4pAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprutils</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.14.0</string>
	</dict>
	<key>hyprutils/template</key>
	<dict>
		<key>mtime</key>
		<data>fWRzagAAAAAgKi4pAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprutils</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.14.0</string>
	</dict>
	<key>hyprwayland-scanner/template</key>
	<dict>
		<key>mtime</key>
		<data>fWRzagAAAAAgKi4pAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprwayland-scanner</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.4.5</string>
	</dict>
	<key>hyprwire-devel/template</key>
	<dict>
		<key>mtime</key>
		<data>fWRzagAAAAAazC8pAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprwire</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.3.1</string>
	</dict>
	<key>hyprwire/template</key>
	<dict>
		<key>mtime</key>
		<data>fWRzagAAAAAazC8pAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprwire</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.3.1</string>
	</dict>
</dict>
</plist>
