<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aquamarine-devel/template</key>
	<dict>
		<key>mtime</key>
		<data>Uud3agAAAABzTr8mAAAAAA==</data>
		<key>pkgname</key>
		<string>aquamarine</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.13.0</string>
	</dict>
	<key>aquamarine/template</key>
	<dict>
		<key>mtime</key>
		<data>Uud3agAAAABzTr8mAAAAAA==</data>
		<key>pkgname</key>
		<string>aquamarine</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.13.0</string>
	</dict>
	<key>hyprgraphics-devel/template</key>
	<dict>
		<key>mtime</key>
		<data>rOB3agAAAADW+yc5AAAAAA==</data>
		<key>pkgname</key>
		<string>hyprgraphics</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.5.1</string>
	</dict>
	<key>hyprgraphics/template</key>
	<dict>
		<key>mtime</key>
		<data>rOB3agAAAADW+yc5AAAAAA==</data>
		<key>pkgname</key>
		<string>hyprgraphics</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.5.1</string>
	</dict>
	<key>hyprlang-devel/template</key>
	<dict>
		<key>mtime</key>
		<data>o9V3agAAAADxdSsoAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprlang</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.6.8</string>
	</dict>
	<key>hyprlang/template</key>
	<dict>
		<key>mtime</key>
		<data>o9V3agAAAADxdSsoAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprlang</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.6.8</string>
	</dict>
	<key>hyprpaper/template</key>
	<dict>
		<key>mtime</key>
		<data>vfh3agAAAACKjqArAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprpaper</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.8.4</string>
	</dict>
	<key>hyprtoolkit-devel/template</key>
	<dict>
		<key>mtime</key>
		<data>tPt3agAAAABwvNMgAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprtoolkit</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.5.4</string>
	</dict>
	<key>hyprtoolkit/template</key>
	<dict>
		<key>mtime</key>
		<data>tPt3agAAAABwvNMgAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprtoolkit</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.5.4</string>
	</dict>
	<key>hyprutils-devel/template</key>
	<dict>
		<key>mtime</key>
		<data>MtR3agAAAADPtA0SAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprutils</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.14.0</string>
	</dict>
	<key>hyprutils/template</key>
	<dict>
		<key>mtime</key>
		<data>MtR3agAAAADPtA0SAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprutils</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.14.0</string>
	</dict>
	<key>hyprwire-devel/template</key>
	<dict>
		<key>mtime</key>
		<data>cfN3agAAAABWvsUxAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprwire</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.3.1</string>
	</dict>
	<key>hyprwire/template</key>
	<dict>
		<key>mtime</key>
		<data>cfN3agAAAABWvsUxAAAAAA==</data>
		<key>pkgname</key>
		<string>hyprwire</string>
		<key>revision</key>
		<string>1</string>
		<key>version</key>
		<string>0.3.1</string>
	</dict>
</dict>
</plist>
